* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.rating {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 30px;
}

.rating input[type="radio"] {
    display: none;
}

.rating label {
    cursor: pointer;
}

.rating input[type="radio"]:checked+label {
    transform: scale(1.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

.question {
    margin-bottom: 20px;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.options {
    margin-top: 10px;
}

input[type="radio"] {
    margin-right: 10px;
}

textarea {
    resize: none;
}

.submit-btn {
    text-align: center;
}

button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}